*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 商品分类遮罩 */
.categoryShade{
    width: 460px;
    height: 200px;
    border:1px solid #ccc;
    background: #FFF;
    position: absolute;
    top:30%;
    left:40%;
    transform: (-50%,-50%);
    z-index: 999;
    display: none;
}
.categoryTop{
    width: 100%;
    height: 50px;
    background: #16181D;
}
.categoryTop p{
    color:#FFF;
    line-height: 50px;
    font-size: 14px;
    text-indent: 20px;
    float: left;
}
.categoryTop .categoryClose{
    width: 20px;
    height: 20px;
    color:#fff;
    font-size: 20px;
    float: right;
    padding: 10px 5px 0 0;
    cursor: pointer;
}
.categoryBottom{
    width: 100%;
    height: 150px;
    position: relative;
}
.categoryBox{
    width: 300px;
    height: 100px;
    position: absolute;
    top:17%;
    left:10%;
    transform: (-50%,-50%);
}
.categoryBox .listName{
    font-size: 15px;
    color: #444;
}
.categoryBox .listName input{
    width: 200px;
    height: 30px;
}
/* 用户列表遮罩 */
/* 普通用户 */
.userShade{
    width: 450px;
    height: 200px;
    border:1px solid #ccc;
    background: #FFF;
    position: absolute;
    top:30%;
    left:40%;
    transform: (-50%,-50%);
    z-index: 999;
    display: none;
}
.userTop{
    width: 100%;
    height: 40px;
    background: #16181D;
}
.userTop p{
    color:#FFF;
    line-height: 40px;
    font-size: 15px;
    text-indent: 20px;
    float: left;
}
.userTop .userClose{
    width: 20px;
    height: 20px;
    color:#fff;
    font-size: 20px;
    float: right;
    padding: 8px 5px 0 0;
    cursor: pointer;
}
.userBottom{
    padding-top: 20px;
    height: 160px;
}
/* 管理用户遮罩 */
.usersShade{
    width: 450px;
    height: 300px;
    border:1px solid #ccc;
    background: #FFF;
    position: absolute;
    top:30%;
    left:40%;
    transform: (-50%,-50%);
    z-index: 999;
    display: none;
}
.userTop .userCloses{
    width: 20px;
    height: 20px;
    color:#fff;
    font-size: 20px;
    float: right;
    padding: 8px 5px 0 0;
    cursor: pointer;
}
/* 用户列表分页 */
.orderPage p{
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    float: left;
    margin-right: 20px;
    border:1px solid #ccc;
    cursor: pointer;
}
.orderActive{
    background: #009688;
    color:#fff;
}
/* 商品列表编辑 */
.goodEdit{
    width: 500px;
    height: 350px;
    position: absolute;
    top:27%;
    left:40%;
    z-index: 999;
    background: #fff;
    border:1px solid #ccc;
    display: none;
}
.goodEditTop{
    width: 100%;
    height: 40px;
    background: #16181D;
}
.goodEditTop .goodsCloses{
    width: 20px;
    height: 20px;
    color:#fff;
    font-size: 20px;
    float: right;
    padding: 8px 5px 0 0;
    cursor: pointer;
}
.goodEditTop p{
    color:#FFF;
    line-height: 40px;
    font-size: 15px;
    text-indent: 20px;
    float: left;
}
.goodEditBottom{
    margin-left: 50px;
    width: 100%;
    height: 360px;
    margin-top: 20px;
    font-size: 16px;
}
.goodEditBottom p{
    height: 40PX;
    line-height: 40px;
}
.EditConnect  span{
    padding-left: 20px;
}
.priceEdit,.stcokEdit{
    margin-left: 12px;
    text-indent: 15px;
    display: inline-block;
    width: 80px;
    height: 30px;
    border:1px solid #ccc;
}